@import "compass";
@import "compass/css3";
@import "compass/css3/images";

@import "partials/bootstrap/variables";
@import "partials/bootstrap/mixins";

@import "partials/fonts";
@import "base/variables";
@import "base/mixins";

//$screen-lg 		: 1200;
//$screen-md 		: 979;
//$screen-sm 		: 768;
//$screen-sm - 1 	: 767;
//$screen-xs 		: 480;
//$screen-phone 	: 330;


@media (min-width: $screen-lg){
	

}
@media (max-width: 1199px){
	.img-left{
		width:58%;
	}	
}

@media (max-width: $screen-md) {
	#logo{
		text-align:center;
		margin-bottom:20px;
	}

	#navigation{
		float:none;
	}

	#homeproduct{
		 h1{
		 	font-size:50px;
		 }
	}

	.gallery-ribbon{
		 .item{
		 	width:30% !important; 
		 }
	}

	#navigation ul{
		ul.mega-sub-menu{
			left:0;

			.mega-galeries{
				&:after{
					left:20px;
				}
			}
		}
	}

	#footer{
		.foot-links, .foot-testimoni{
			border:none;
		}

		.box-help, .foot-links, .foot-testimoni
		{
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}


	/* ======== BLOG ======== */
	.blogpost-tab .inner{
		width: 95%;
	}

	.img-blockquote{
		 .bl-quote{
		 	margin-top:0;
		 }
	}

	.other-article{
		 ul {
		 	li{
		 		margin-bottom:30px;
		 		width:33% !important;
		 	}
		 }
	}

	.round-pager{
		 a{
		 	@include square(100px);
		 }
	}

	.typedesc{
		 .lt:before{
		 	left: -186px;
		 }
	}

	.qty-desired {
		figure{
			width:auto;
			margin:0 auto 20px auto;
			float:none;
		}
	}


}

@media (max-width: 1199px){
	.colorgalery{
		.item{
			width: 32%;
			float:none;
			@include inline-block();
		}
		.caption{
			visibility:visible;
			@include opacity(1);
			position:relative;
			height:auto;
			text-align:center;
			width:100% !important;
			border:none;
			margin:10px 0;
			top:0;
			span{
				float:none;
				margin:0;
				width:auto;
				max-width:none;
				width:100%;
			}
		}
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	.width-galery{
		.item{
			width:40%;
		}
	}
}

@media (min-width: $screen-sm) and (max-width: $screen-md){
	
	.newslet{
		.form-control{
			width:48%;
		}
	}

	.width-galery{
		.circle{
			height:158px;
		}
	}
}

@media (max-width: $screen-sm - 1){

	ul.mega-sub-menu{
			left:0;
			.mega-galeries{
				&:after{
					left:20px;
				}
			}

			.item-mega-galery{
				.pallete, figure{
					display:none;
				}
			}

		}

	#navigation{
		text-align:center;
	}
	.btn-cart{
		float:none;
		margin:10px auto;
	}

	.foot-links {
		ul {
			li{
				border-bottom: 1px solid #cecece;
				padding-bottom: 6px;

				a{
					display:block;
				}
			}
		}
		.lt{
			margin-bottom:20px;
		}
	}

	.gallery-ribbon{
		 .item{
		 	width:45% !important;
		 }
	}

	#homeproduct{
		 h1{
		 	font-size:40px;
		 }
	}

	.newslet {
		.subscribe{
			text-align:center;
		}

		.form-control{
			width: 95%;
			display: block;
			margin-bottom: 20px;
		}
	}

	#homeproduct{
		 h5{
		 	font-size:28px;
		 }
	}

	.featured_prod{
		overflow:hidden;
		margin-bottom: 30px;
	}

	/* ======== BLOG ======== */
	.blogpost-tab h5{
		font-size:30px;
	}

	.navblog-tab {
		text-align:center;
		li a{
			font-size: 15px;
			padding: 12px 20px;
		}
	}

	.img-left{
		width: 90%;
		margin: 0 auto 25px auto;
		float:none;
	}

	.fix-centered, .img-blockquote .bl-quote{
		width:90%;
	}

	.other-article{
		 ul {
		 	li{
		 		width:45% !important;
		 	}
		 }
	}

	.img-blockquote{
		 .bl-quote{
		 	margin:0 auto;
		 }
	}

	.collect-galery{
		.item{
			width:48% !important;
		}
	}

	.qty-desired{
		margin-bottom:40px;
	}

	.box-cart{
		float : none;
		margin:0 auto;
	}

	.qty-desired {
		label{
			font-size:17px;
		}
	}

	.round-pager{
		 a{
		 	margin: 0 5px 20px 5px;
		 } 
	}

	.typedesc{
		 .lt{
		 	margin-bottom:40px;

		 	&:before{
		 		left:-100px;
		 	}
		 }
	}

	.prod-detail{
		margin-bottom:30px;
	}

	.width-galery{
		.item{
			float:left;
		}
	}

	.colorgalery {
		.item{
			width:49%;
		}
	}
}

@media (max-width: $screen-xs + 90) {
	.blogpost-tab figure{
		width: 27%;
	}

	.author{
		 figure{
		 	float:none;
		 	margin:0 auto 25px auto;
		 }
	}

	.intro-blogdetail{
		h2{
			font-size:35px;
		}
	}

	.pagenav ul li > a, .pagenav ul li > span{
		padding: 0 5px;
		background:none !important;
	}

	.prod-detail {
		figure{
			float:none;
			margin:0 auto 25px auto;
			width:80%;
		}
		header{
			text-align:center;
		}
	}

	.width-galery{
		text-align:center;
		.item{
			@include inline-block();
			float:none;
		}
	}

	.title-md{
		text-align:center;
	}
}

@media (max-width: $screen-xs) {
	.blogpost-tab{
		border-bottom: 1px solid #cecece;
		padding-bottom: 20px;
		figure{
			width: auto;
			margin: 0 auto 20px auto;
			float:none;
		}
	}

	.navblog-tab{
		li{
			display:block;
			text-align:center;

			a{
				float:none;
				display:block;
			}
		}
	}

	.other-article{
		 ul {
		 	li{
		 		width:60% !important;
		 	}
		 }
	}

	.title-md{
		text-align:center;
		font-size:39px;
	}

}

@media (max-width: $screen-xs - 150){
	.gallery-ribbon .item {
		width: 90% !important;
	}

	.other-article{
		 ul {
		 	li{
		 		width:100% !important;
		 	}
		 }
	}

	.collect-galery{
		.item{
			width:98% !important;
		}
	}

	.colorgalery {
		.item{
			width:100%;
		}
	}

}







