body{
	background:#ffffff;
	font:27px/1.3 'Josefin Slab', serif;
	color:$font-color;
	font-weight:normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* ======== TITLE ======== */
.title_xs{
	margin:0;
	color : darken($font-color, 8%);
	font: 700 25px 'Josefin Slab', serif;
	margin-bottom:28px;
}

.foot-title{
	margin:0;
	color : darken($font-color, 8%);
	font: 700 19px 'Josefin Slab', serif;
	margin-bottom:15px;
}

.title-md{
	margin:0;
	color : darken($font-color, 8%);
	font: 700 44px 'Josefin Slab', serif;
	margin-bottom:45px
}

.title-line{
	@extend .title-md;
	text-align:center;
	position:relative;
	span{
		@include inline-block();
		padding:0 40px;
		background:white;
	}
	&:before{
		content:'';
		position:absolute;
		z-index:-1;
		left:0;
		top:25px;
		@include size(100%, 1px);
		background:#dde3e6;
	}
}

/* ======== BUTTON  & LINKS ======== */
.btn-green{
	background:none;
	border:none;
	background:$green;
	font: 600 17px 'Josefin Slab', serif;
	color:white;
	text-transform:uppercase;
	@include inline-block();
	@include prefixed(transition, all 0.3s ease-out);
	padding:15px 20px;
	@include min-width(165px);
	letter-spacing: 0.2em;

	&:hover{
		@include opacity(0.7);
		color:white;
		text-decoration:none;
	}
}

.btn-transp{
	@include inline-block();
	font: 600 13px 'Josefin Slab', serif;
	color:darken($font-color, 15%);
	border:1px solid darken($font-color, 15%);
	padding:6px 11px;
	text-transform:uppercase;
	@include prefixed(transition, all 0.3s ease-out);

	&:hover{
		text-decoration:none;
		color:white;
		background:darken($font-color, 15%);
	}

}

.link-blue{
	@include inline-block();
	color:#0072bc;
	&:hover{
		text-decoration:none;
		color:$green;
	}
}

.btn-cart-blue{
	background:none;
	border:none;
	@include inline-block();
	font: 600 13px 'Josefin Slab', serif;
	color:white;
	padding:16px 20px;
	text-transform:uppercase;
	letter-spacing:0.2em;
	@include prefixed(transition, all 0.3s ease-out);
	background:#0072bc;

	&:hover{
		@include opacity(0.7);
		color:white;
		text-decoration:none;
	}
}

.btn-edgewater{
	@extend .btn-green;
	background: #B9DACD;
}



/* ======== BACKGROUND ======== */
.bgTrout{
	background:$trout;
	padding:70px 0;
	color:white;

	&:before, &:after {
	  content: " ";
	  display: table;
	}
	&:after {
	  clear: both;
	}
}

/* ======== FORM ======== */
.radio label, .checkbox label{
  padding-left:0;
}
.form-control {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
