
//BASE COLOR PALLETE
$black 			: #000000; 
$grey_lt		: #f1f1f1;
$grey_dark 		: #dfdfdf;
$green			: #39b54a;
$purple			: #662d91;
$white			: #ffffff;
$blue			: #0072bc;
$font-color		: #4f4e4c;
$bg-footer		: #f5f5f5;
$trout			: #4f595f;

//SCREEN SIZE
//Responsive
$screen-phone 	: 330px !default;

//SIZE
$pixel	: 10px !default;