@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700,400italic,600italic);

/*==========================================================================
  BASE
========================================================================== */





body {
  background: #f1f1f1;
  font: 17px/1.3 'Josefin Slab', serif;
  color: #4f4e4c;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.3em;
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* ======== BUTTON  & LINKS ======== */
.btn-green {
  background: none;
  border: none;
  background: #39b54a;
  font: 600 17px 'Josefin Slab', serif;
  color: white;
  text-transform: uppercase;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding: 15px 20px;
  min-width: 165px;
  width: auto !important;
  width: 165px;
  letter-spacing: 0.2em;
}
.btn-green:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  color:white;
  text-decoration: none;
}

/* ======== FORM ======== */
.bootstrap-select .btn{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.wrap-white{
	background: white;
	padding:40px;
}
.wrap-white:before, .wrap-white:after {
  content: " ";
  display: table;
}
.wrap-white:after {
  clear: both;
}

.ov-flow{
	overflow: hidden;
}

/* ======== FORM ======== */

.form-control{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
label{
	font-weight: normal;
}

.form-group  label span{
	color:#9e005d;
}
.bootstrap-select .btn-default{
	border: solid 1px #cecece;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.09), rgba(255,255,255,.09));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.09), rgba(255,255,255,.09));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.09), rgba(255,255,255,.09));
	background-image: linear-gradient(to top, rgba(0,0,0,.09), rgba(255,255,255,.09));
}

.btn-grey{
	background: none;
	border:none;
	background: #d9d9d9;
	color: #000000;
	text-align: center;
	padding: 5px 10px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	text-transform: uppercase;
	font-weight: 600;

	-webkit-transition: all 0.3s ease ;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease ;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease ;
}
.btn-grey:hover{
		opacity: 0.7;
	filter: alpha(opacity=70);
	visibility: visible;
}

/*==========================================================================
  HEADER
========================================================================== */

#header{
	padding:25px 0 40px 0;
	overflow: hidden;
}
#logo {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
  color: #662d91;
  font-family: 'Josefin Slab', serif;
}
#logo a {
  text-decoration: none;
  color: #662d91;
}
#logo span {
  color: #39b54a;
}

.link-conShop{
 	float: right;
 	display: block;
 	color:#4f4e4c;
 	text-transform: uppercase;
 	font-size: 14px;
 	font-weight: 600;
 	margin: 29px 17px 0  0;
}

.link-conShop:hover{
	color:#3cb878;
	text-decoration: none;
	  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}


/*==========================================================================
  MAIN
========================================================================== */

#main{
	margin-bottom: 28px;
}
#cart-nav {
  margin-bottom: 40px;
  border-bottom: 4px solid #dedede;
}
#cart-nav:before, #cart-nav:after {
  content: " ";
  display: table;
}
#cart-nav:after {
  clear: both;
}
#cart-nav ul li {
  display: block;
  float: left;
  color: #4a4a4a;
  text-align: center;
  margin-bottom: -4px;
}
#cart-nav ul li a{
		  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;	
}
#cart-nav ul li a{
	display: block;
	padding: 5px 68px 20px;
	padding-top: ;
	color: #4f4e4c;
	border-bottom: 4px solid transparent;
}

#cart-nav ul li a:hover, #cart-nav ul li.active a {
	text-decoration: none;
	color: black;
	border-color: black;
}

#cart-nav ul li:first-child{
	padding-left:0;
}
#cart-nav ul li:last-child{
	padding-right:0;
}



/* ======== TABLE STYLE ======== */
table.table{
	font-family: 'Josefin Slab', serif;
}

.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td{
	border-top:none;
	border-bottom:1px solid #efefef;
}

#cart_page.table td, #cart_page.table th{
	vertical-align: middle;
}

table.table th{
	border-top: none !important;
	border-bottom:1px solid #d6d6d6;
}

figure.detail{
	float:left;
	margin-right: 15px;
	overflow: hidden;
	width: 44px;
}

table.table a.title{
  color:#4f4e4c;
  padding: 10px 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

table.table a.title:hover{
	text-decoration: none;
	color:#39b54a;
}

table.table td button.remove{
	background: none;
	border: none;
	background: url(../img/remove.png) left center no-repeat;
	padding: 4px 0 1.5px 18px;
	font-size: 0.8em;
	color: #9e0b0f;
	-webkit-transition: all 0.3s ease ;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease ;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease ;
}
table.table td button.remove:hover{
	text-decoration: none;
	opacity: 0.7;
	filter: alpha(opacity=70);
	visibility: visible;
}

/*FORM APPLY*/
.f-apply{
	float:left;
	width: 38%
}
.f-apply input[type="text"] {
  float: left;
  margin-right: 8px;
  -webkit-box-shadow: inset 1px 2px 4px rgba(217 ,214, 214, 0.7);
	-moz-box-shadow: inset 1px 2px 4px rgba(217 ,214, 214, 0.7);
	box-shadow: inset 1px 2px 4px rgba(217 ,214, 214, 0.7);
	border: solid 1px #cecece;
	font-size:15px;
	width: 78%;
}
.f-apply input[type="submit"]{
	min-width: 75px;
	width: 75px;
	height:34px;
}


/* ======== TABLE INSIDE ======== */
table.table_inside {
  padding-top: 20px;
  float:right;
  width:29%;
}

table.table_inside td {
  border-bottom: 0;
  text-align: right;
  padding: 0;
  padding: 3px 8px !important;
  font-size:1em;
}
table.table_inside td.even {
 
}
table.table_inside td.italic {
  font-style: italic;
}
table.table td.detail{
	width:72%;
}

/*TOOTLTIP*/
.ques_icon
{
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	width: 11px;
	height: 11px;
	margin-top: -2px;
	background: url(../img/question.png) 0 0 no-repeat;
}

/* ======== CART FORM ======== */
.centerform{
	width: 80%;
	margin: 0 auto;
}

.f-smtitle{
	font-size: 20px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.checkbox.rt{
	float:right;
	margin:0;
}

/* ======== SHIPPING ======== */
.shipping .shipwrap{
  border: 1px solid #d6d6d6;
  margin-bottom: 10px;
  display: block;
  padding: 20px 30px;
}
.shipping .shipwrap .left, .shipping .shipwrap .center, .shipping .shipwrap .right {
  float: left;
}
.shipping .shipwrap div.left {
  width: 37px;
}
.shipping .shipwrap div.left .radio{
	margin-top: 0;
}
.shipping .shipwrap div.left .radio.up{
	margin-top: 10px;
}

.shipping .shipwrap div.center {
  width: 72%;
}
.shipping .shipwrap div.center i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 20px;
  float: left;
}

.shipping .shipwrap div.center i.free {
  background: url(../img/shiping.png) 0 0 no-repeat;
  width: 40px;
  height: 28px;
  margin-right:45px;
 margin-top: 5px;
}

.shipping .shipwrap div.center i.ovnight
{
  background: url(../img/shiping_go.png) 0 0 no-repeat;
  width: 65px;
  height: 28px;
  margin-top: 5px;
}

.shipping .shipwrap div.center p {
  overflow: hidden;
}
.shipping .shipwrap div.center p strong {
  display: block;
}
.shipping .shipwrap div.right {
  width: 24%;
  font-size: 1.4em;
  text-align: right;
}
.shipping .shipwrap .radio input[type="radio"] {
  margin-left: 0;
}

.shipping .inf-alert {
	margin: 0px auto 30px auto;
	background-color: #fbfbfb;
	border: solid 1px #d7d7d7;
	padding: 12px;
}

.shipping .inf-alert i.fa{
	float: left;
	margin-right: 13px;
	color:black;
}
.shipping .inf-alert span{
	overflow: hidden;
	display: block;
}

.shipping ul.sbOptions li {
  border: 0;
  margin: 0;
  padding: 0 7px;
}

.title_shipto {
  font-size: 18px;
  margin-bottom: 13px;
}

.f-ship .checkbox{
	margin-left:20px;
}
.f-ship .full_slc .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width: 100%;
}
.f-ship .left{
	float:left;
}
.expiry_slc .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width: 25%;
	float:left;
	margin-right: 10px;
}


/* ======== PAYMENT ======== */
.sidefield .radio label{
	padding-left: 0;
}

.orline{
	position: relative;
	text-align: center;
	z-index: 1;
	margin: 25px 0;
}
.orline:before{
	content: '';
	position: absolute;
	z-index:-1;
	left:0;
	top:16px;
	border-top:1px solid #e6e6e6;
	height: 1px;
	width: 100%;
}
.orline span{
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding:0 15px;
  font-weight: 700;
  color: black;
  font-style: italic;
  background: white;
  font-size: 1.3em;
}

.cardnumb{
	overflow: hidden;
}
.cardnumb p{
	float:right;
}
.cardnumb p img{
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.cardnumb p img.active{
  opacity:1;
  filter: alpha(opacity=100);
}

.ccv span, .ccv .form-control{
	display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.paycard .bootstrap-select .btn-default{
	background-image: url("../img/cardnumb2.png");
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding-left: 52px;
	background-color: white;
}

/* ======== REVIEW ======== */
#review{
	background: white;
	overflow: hidden;
}
#review_table{
	border-top: 1px solid #efefef;
}
table#review_table td{
	padding: 20px;
	vertical-align: top;
}
table#review_table td.left{
	width: 30%;
}
table#review_table td.left span.numb{
	background:url(../img/dotted_blue.png)  0 0 no-repeat;
	width: 23px;
	height: 23px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	overflow: hidden;
	line-height: 23px;
	color: white;
	text-align: center;
	font-family: "Gotham-Medium";
	float: left;
	margin-right: 12px;
}
table#review_table td.left p{
	overflow: hidden;
}

table#review_table .title-sm-tb{
	font-size: 19px;
	font-weight: 700;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
}
table#review_table .title-sm-tb a{
	color:#0072bc;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
}

table#review_table td.misc{
	border-left: 1px solid #dadada;
	padding-left: 50px;
}

.methodicon-one, .methodicon-two{
	position: relative;
	padding-left: 30px;
}
.methodicon-one:before, .methodicon-two:before{
	content: "\f09d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	left: 0;
	top:0;
}

.methodicon-two:before{
	content: "\f0d1";
}

td.review-foot {
	padding:20px 35px !important;
}
.review-foot p{
	font-size: 23px;
	font-weight: 700;
	float: left;
	padding-top: 7px;
}
.review-foot .btn-green{
	float:right;
}


/* ======== CONFIRMATION ======== */

.confirm{
	text-align: center;
	font-size: 27px;
	width: 65%;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 50px;
	word-wrap:break-word;
}

.confirm header{
	margin-bottom: 60px;
}
.confirm header h3{
	font-size: 90px;
	font-weight: 700;
	margin: 0;
	line-height: 0.8em;
	color:#1d1d1d;

}
.confirm header span{
	font-size: 38px;
	font-weight: 600;
	display: block;
	font-style:italic;
	color:#a3a3a3;
	line-height: 1em;
}

/*==========================================================================
  FOOTER
========================================================================== */

#footer {
	overflow: hidden;
	padding-bottom: 25px;
}
#footer .leftside{
	float: left;
	font-weight: 600;
	font-size: 14px;
}

#footer .rightside{
	float:right;
	background: url(../img/logofoot@2x.png) left top no-repeat;
	background-size: 37px;
	-moz-background-size: 37px;
	-webkit-background-size: 37px;
	padding-left: 50px;
	font-size: 16px;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  #footer .rightside{
    /* on retina, use image that's scaled by 2 */
    background-image: url('../img/logofoot@2x.png') 0 0 no-repeat;
    background-size: 37px 38px;
  }
}

span.arrw_red {
  background:url(../img/red-arrow.png) no-repeat;
  width: 21px;
  height: 17px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: left;
  margin-right: 10px;
  margin-top: 7px;
}


.chosecount{
	margin-bottom: 40px
}
.selectcountry{
	float:right;
}

.selectcountry p, .selectcountry .slc-wrap{
	  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.selectcountry p{
	text-align: right;
	margin-right: 15px;
}

 .selectcountry form{
 	float: left;
}

#cart-nav select {
  display: none;
}


/*==========================================================================
  MEDIA QUERIES
========================================================================== */

@media (max-width: 1199px) {

}

@media (max-width: 992px) {

	#logo{
		text-align: center;
		margin-bottom: 20px;
	}	

	.link-conShop{
		float:none;
		display: block;
		text-align: center;
	}

	#cart-nav ul li a{

			padding-right: 25px;
			padding-left: 25px
	}

	.confirm{
		width: 98%;
	}

	.confirm header h3{
		font-size: 80px;
	}

	.f-apply{
		width: 63%;
	}

	.selectcountry{
		float: none;
		margin-top: 20px;
	}
	.selectcountry form{
		float: none;
		margin: 0 auto;
	}
	.selectcountry p, .selectcountry .slc-wrap{
		display: block;
		text-align: center;
	}
	span.arrw_red{
		display: none;
	}

	.centerform{
		width: 100%;
	}

	table#review_table td.misc{
		padding-left: 20px;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (max-width: 767px) {

  	  /*Showing Select Menu */
     #cart-nav {width:100%;float:none;text-align: center }
     #cart-nav ul    { display: none;}
     #cart-nav select{ display:inline-block;padding:8px;width:99%;font-size:1.2em;line-height:1.5em}


  	 
  	 .confirm{
  	 	font-size: 21px;
  	 }

  	 .confirm header h3{
  	 	font-size: 60px;
		line-height: 1em;
  	 }

  	 .confirm header span{
  	 	font-size: 32px;
  	 	line-height: 1.3em;
  	 }

  	 .confirm{
  	 	margin-top: 50px;
  	 }

  	 .shipping .shipwrap div.right{
  	 	float: none;
  	 	width: 100%;
  	 	margin-top: 50px;
  	 	text-align: center;
  	 	clear: both;
  	 	border-top: 1px solid #cecece;
		padding-top: 18px;
  	 }
  	 .shipping .shipwrap div.center{
  	 	width: 80%;
  	 	clear: right;
  	 }

  	 .expiry_slc .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
  	 	width: 45%;
  	 }
}

@media (max-width: 570px){
	.wrap-white{
		padding: 0;
	}
}

@media (max-width: 480px){
	#footer .leftside{
		float: none;
		text-align: center;
		margin-bottom: 27px;
	}

	#footer .rightside{
		float: none;
		text-align: center;
		display: table;
		margin: 0 auto;
	}
}

@media (max-width: 330px){
	span.arrw_red{
		display: none;
	}
}