/*==========================================================================
  BLOG
========================================================================== */
.grayed{
	background:$grey_lt;	
}

.navblog-tab{
	margin-top:16px;
	li{
		@include inline-block();
		margin:0 2px -1px; 	
		a{
			font-size:17px;
			color:darken($font-color, 15%);
			font-weight:600;
			text-transform:uppercase;
			float:left;
			padding: 12px 28px;
			@include prefixed(transition, all .2s linear);

			&:hover{
				background:white;
				text-decoration:none;
			}
		}

		&.active{
			a{
				background:white;
			}
		}
	}	
}

.blogTab-content{
	background:white;
	padding-top:70px;
}

.blogpost-tab{
	overflow:hidden;
	margin-bottom:60px;

	.inner{
		width:82%;
		margin:0 auto;
	}

	figure{
		width:21%;
		max-width:227px;
		text-align:center;
		float:left;
		margin-right:35px;
	}

	.desc{
		overflow:hidden;
	}

	h5{
		margin:0;
		color : darken($font-color, 20%);
		font: 600 38px 'Josefin Slab', serif;
		margin-bottom:8px;
		line-height:1.2em;
	}

	.metapost{
		font-size:20px;
		margin-bottom:15px;
		a{
		 	 color:#0072bc;
		}
	}
}

/*==========================================================================
  BLOG DETAIL
========================================================================== */

.intro-blogdetail{
	font-weight:700;
	font-size:25px;
	color:darken($white, 6%);
	text-align:center;
	margin-bottom:60px;
	header{
		margin-bottom:45px;
	}
	h2{
	 	margin:0;
	 	color:white;
	 	font: 700 44px 'Josefin Slab', serif;
	 	margin-bottom:10px;
	}
}

.fix-centered{
	width:68%;
	margin:0 auto;
}

.img-center{
	margin:50px 0;
}

.img-left{
	float:left;
	margin-right:40px;
}

.img-blockquote{
	overflow:hidden;
	.bl-quote{
		overflow:hidden;
		padding:0;
		border:none;
		border-top:4px solid $trout;
		padding-top:30px;
		font-size:25px;
		font-style:italic;
		margin-top:5%;
	}
}

.author{
	border-top:5px solid #e5e5e5;
	border-bottom:5px solid #e5e5e5;
	margin-bottom:35px;	
	padding:30px 0;

	figure{
		@include square(195px);
		overflow:hidden;
		floar:left;
		@include border-radius(50%);
		margin-right:40px;
		float:left;
	}

	.desc{
		overflow:hidden;
		font-style:italic;
	}

}

.blog-share{
	text-align:center;
	margin-bottom:40px;
}

.other-article{
	text-align:center;
	h2{
		font: 700 19px 'Josefin Slab', serif;
		margin:0;
		text-transform:uppercase;
		margin-bottom:37px;
	}
	ul{
		li{
			@include inline-block();
			@include make-md-column(3);
			float:none !important; 
			width:22% !important;
			vertical-align:top;
			margin-bottom:20px;


			.inner{
				width:100%;
				max-width:265px;
				margin:0 auto;
				overflow:hidden;
				@include prefixed(transition, .3s ease-out);
				&:hover{
					@include box-shadow(0 3px 8px #bfbfbf);
				}
			}
			figure{
				margin:0 auto;
				width:100%;
				max-width:265px;
				text-align:center;
				oveflow:hidden;

				img{
					width:265px;
				}
			}

			.caption{
				background:$grey_lt;
				color:darken($font-color, 10%);
				font-size:15px;
				padding:10px 20px;
				@include prefixed(transition, 0.2s ease-out);
				margin:0;

				&:hover{
					background:#4f595f;

					a{
						color:white;
					}
				}

				a{
					color:darken($font-color, 10%);
					display:block;
					&:hover{
						text-decoration:none;
					}
				}
			}

		}
	}
}

.pagenav{
	text-align:center;
	margin-top:25px;
	ul	{
		@include inline-block();

		li{
			display: inline;
			> a:hover{
				color:$font-color;
			}
			> a, > span{
				position: relative;
				float: left;
				padding: 6px 12px;
				line-height: 1.42857;
				text-decoration: none;
				color: #d2d2d2;
				text-transform:uppercase;
				font: 600 22px 'Josefin Slab', serif;

				&.prevnext{
					background:#edf4f9;
					color:#486578;
					border:1px solid #d1dce3;
					@include prefixed(transition, all .2s linear);
					margin:0 10px;

					&:hover{
						@include opacity(0.7);
					}
				}
			}
		}
	}
}