/*==========================================================================
  COLOR
========================================================================== */
$bgcircle : #d9dbce !default;

.colorgalery{
	@include make-row();
	.item{
		@include make-sm-column(3);
		@include make-md-column(2);
		margin-bottom:30px;
		cursor:pointer;
		position:relative;
		z-index:1;

		&:hover{
			z-index:5;
			
			.caption{
				width:400px;
				visibility:visible;
				@include opacity(1);
			}

		}
	}

	.caption{
		visibility:hidden;
		@include opacity(0);
		position:absolute;
		z-index:2;
		left:0;
		top: -22px;
		@include border-radius(100px);
		border:1px solid #cfcfcf;
		background:white;
		height: 206px;
		width:100px;
		vertical-align:middle;
		@include prefixed(transition, all .6s ease-out);

		span{
			display:block;
			float: right;
			margin: 60px 36px 0 0;
			font-size: 15px;
			width: 37%;
			max-width: 145px;
			font-size:15px;
			strong{
				display:block;
				font-size:28px;
			}
		}
	}

	.circle{
		@include border-radius(50%);
		@include square(168px);
		margin-left:auto;
		margin-right:auto;
		overflow:hidden;
		text-align:right;
		background: $bgcircle;
		position:relative;
		z-index:3;
	}

	a{
		color:$font-color;
		&:hover{
			text-decoration:none;
			color:$font-color;
		}
	}
}



/* ======== PALLETE COLOR ======== */
.pallete, .circle  {
	&.moon-mist{background:#d9dbce}
	&.coconut-cream{background:#f6f7d8}
	&.black{background:#000000}
	&.browns{background:#00357b}
	&.resolution-blue{background:#993400}
	&.buddha-gold{background:#bfb903}
	&.hurricane{background:#84807f}
	&.fun-green{background:#019f1e}
	&.trinidad{background:#eb5d01}
	&.geraldine{background:#fe8081}
	&.heliotrope{background:#e239fe}
	&.bright-red{background:#a40000}
	&.mercury{background:#e6e6e6}
	&.pampas{background:#f6f5f3}
	&.golden-fizz{background:#fdff2f}
}
