/*==========================================================================
  COLECTION
========================================================================== */

.collect-galery{
	text-align:center;
	.item{
		@include make-sm-column(4);
		margin-bottom:30px;
		@include opacity(0.7);
		@include prefixed(transition, all 0.3s linear);
		float:none !important;
		@include inline-block();
		width:32.8% !important;

		&:hover{
			@include opacity(1);
		}

		figure{	
			width:368px \9;
			max-width:368px;
			margin:0 auto;
			text-align:center;
			border:1px solid #dfdfdf;
			@include border-radius(7px);
			overflow:hidden;
			position:relative;
			@include prefixed(transition, .3s ease-out);
			&:hover{
				@include box-shadow(0 3px 8px #bfbfbf);
			}
		}

		img{
			width:100%;
			max-width:368px;
		}


		.caption{
			text-align:center;
			font-weight:600;
			font-size:28px;
			position:absolute;
			bottom:15px;
			left:0;
			width:100%;
			background:white\9;
			background:rgba(white, 0.6);
			color:$font-color;
		}
	}
}

