/*==========================================================================
  FOOTER
========================================================================== */

#footer{
	background:#e2eeea;
	font-size:16px;
	border-top:1px solid #c7dad4;

	.foot-links, .foot-testimoni{
		border-right:1px solid $grey_dark;	
	}

	.box-help, .foot-links, .foot-testimoni{
		padding-top:40px;
		padding-bottom:40px;
		overflow:hidden;
	}
}

.wdg-foot{
	@include make-md-column(4);
}


.foot-links{
	.lt, .rt{
		@include make-sm-column(6);
	}
	ul{
		li{
			display:block;
			margin-bottom:6px;
		}
		a{
			color:darken($font-color, 10%);
			&:hover{
				color:$green;
			}
		}
	}
}


.foot-testimoni {
	.foot-title{
		 a{
		 	color:darken($font-color, 20%);
		 	&:hover{
		 		color:$green;
		 		text-decoration:none;
		 	}
		 }
	}
	figure{
		width:35%;
		max-width:98px;
		overflow:hidden;
		text-align:center;
		float:left;
		margin-right:20px;
	}	

	.desc{
			overflow:hidden;
		}
}

.box-help{
	font-weight:600;
	font-size:21px;
	line-height:1.6em;
	word-wrap:break-word;
	
	.inner{
		background:white;
		width: 90%;
		max-width:320px;
		margin: 0 auto;
		@include border-radius(5px);
		position:relative;
		z-index:1;
		overflow:hidden;
		padding:15px 18px;
		padding-left: 78px;

		&:before{
			content:'';
			position:absolute;
			z-index:-1;
			left:0;
			top:0;
			@include size(58px, 84px);
			background:image-url('bg_help.png') 0 0 no-repeat;
		}
	}
	p{
		margin-bottom:0;
	}
	h5{
		font: normal 34px 'museo_sans500', serif;
		margin:0;
		margin-bottom:6px;
		color:darken($font-color, 20%);
	}
	strong{
		font-weight:600;
		font-size:29px;	
	}
}

.foot-btm{
	border-top:1px solid #dfdfdf;
	padding:15px 0;
	font-size:14px;
	p{
		margin-bottom:0;
	}
}