/*==========================================================================
  HEADER
========================================================================== */
#header{
	border-bottom: 2px solid #efefef;
	position:relative;
	z-index:10;
}
.top-notif{
	background: #c7e2d9;
	color: #000;
	overflow: hidden;
	font-size: 17px;
	text-align: center;
	padding: 10px 0;
	.top-left{
		@include inline-block();
		margin-bottom: 20px;
		@media screen and (min-width: 50em){
			width: auto;
			text-align: left;
			margin-bottom: 0;
			float: left;
		}
		i.shipping-icon{
		        float: left;
			    background: url('../img/shipping-icon1.png') no-repeat right bottom;
			    margin: -10px 0 -10px 0;
			    width: 60px;
			    height: 60px;
		}
		p{
			margin: 13px 0 5px;
			width: auto;
			overflow: hidden;
			@include inline-block();
		}
	}
	.top-right{
		text-align: center;
		font-size: 17px;
		width: 100%;
		@media screen and (min-width: 50em){
			float: right;
			text-align: left;
			width: auto;
		}

		a{
			display: inline-block;
			position: relative;
			vertical-align: middle;
			color: black;
			.icon{
				color: black;
				margin: 5px 0px 5px 15px;
			}
		}
	}


	.tab-switch{
		width: 230px;
		background-color: #2aaebb;
		margin: 0 auto;
		margin-bottom: -10px;
		padding: 5px 10px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border: 1px solid #90D0D5;
		border-bottom: none;
		box-shadow: 0 0 0 2px #2aaebb;
    	font-size: 15px;
    	@media screen and (min-width: 48em){
    		float: right;	
    		margin: 0;
    		margin-bottom: -10px;
    		margin-left: 20px;
    	}

    	p{
			width: 100%;
			margin:  0;
			color: #fff;
			font-size: 18px;

				&.black{
				color: #000;
				margin: 0;
				font-size: 15px;
			}
    	}
	}


//	font-size:17px;
//	padding: 10px 0;
//	.container{
//		position:relative;
//	}
//	p{
//		margin:0;
//		width:90%;
//	}
//	a{
//		position:absolute;
//		right:0;
//		top:0;
//		width: 30px;
//		height: 30px;
//		display: block;
//		font-size:1.2em;
//		color:$black;
//	}
}

#top-grey{
	background:$grey_lt;
	border-bottom:1px solid darken($grey_lt, 20%); 
	padding:25px 0 10px 0;
}

#logo{
	margin:0;
	color:$purple;
	font-family:'Josefin Slab', serif;
	@media screen and (min-width: 48em){
		margin-top: -30px;
	}
	img{
		width: 280px;
	}
	a{
		text-decoration:none;
		color:$purple;
	}
	span{
		color:$green;
	}

	.tagline{
		font: 15px/1 'Josefin Slab', serif;
		color: #000;
		padding-left: 40px;
		margin-top: 10px
	}
}
.btn-cart{
	border: 1px solid #000;
	@include border-radius(5px);
	@include size(78px, 40px);
	@include inline-block();
	background:image-url('cart.png')  11px 50%  no-repeat;
	@include image-2x(image-url('cart.png')  11px 50%  no-repeat, 25px, 21px);
	color:black;
	text-align:right;	
	vertical-align:middle;
	width: 65px;
	height: 30px;
	padding: 5px 10px;
	line-height:1em;
	margin: 0px 0px 0px 10px;
	span{
		font-size:18px;
	}
}
#search{
	.form-control{
		height: 40px;
		border: 1px solid #dfdfdf;
		padding: 10px 35px 10px 10px;
		margin-top: 10px;
		font-size:20px;
		background: url('../img/new-black-search.png') 98% 50% no-repeat #f3f3f3 !important;
		background-size: 20px 22px;
		-moz-background-size: 20px 22px;
		-webkit-background-size: 20px 22px;
		box-shadow: 0;
		-moz-box-shadow: 0;
		-webkit-box-shadow: 0;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
}

.head-main{
	padding: 20px;
	@media screen and (min-width: 48em){
		padding-top: 50px;
	}
}