/*==========================================================================
  MAIN
========================================================================== */
#main{
	padding-bottom:80px;
	&.top-pading{
		padding-top:60px;
	}
}
span.sale {
	position: absolute;
	display: inline-block;
	left: -30px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30px rgba(255,255,255,0.2);
	text-align: center;
	text-transform: uppercase;
	top: 22px;
	background: #009BFF;
	width: 127px;
	padding: 3px 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 3px;
	border: 1px dashed #fff;
	outline: 4px solid #009bff;
	line-height: 17px;
	margin-bottom: 0;

	&:before {
	    content: "";
	    width: 0;
	    height: 0;
	    position: absolute;
	    top: 0;
	    right: -5px;
	    z-index: 9;
	    border: 3px solid;
	    border-color: transparent transparent #3186bf transparent;
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	}
	&:after {
	    content: "";
	    width: 0;
	    height: 0;
	    position: absolute;
	    top: 0;
	    right: 123px;
	    z-index: 9;
	    border: 3px solid;
	    border-color: transparent transparent #3186bf transparent;
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	}
}

#homeproduct{
	padding-bottom:75px;
	h1{
		margin:0;
		font-size:59px;
		text-align:center;
		font-weight:300;
		text-transform:uppercase;
		margin-bottom:55px;
	}

	h5{
		text-align:center;
		font-style:italic;
		font-size:38px;
		margin:0;
		margin-bottom:20px;
	}
}

.gallery-ribbon{
	@include make-row();
	margin-bottom:30px;
	text-align: center;
	@media screen and (min-width: 38em){
		text-align: left;
	}

	a{
		text-decoration:none;
		color:#4f4e4c;
	}
	.item{
		@include inline-block();
		@include make-md-column(3);
		float:none !important;
		width:24% !important;
		margin-bottom:39px;
		vertical-align:top;

		&:hover{
			img{
				// transform:scale(1.1);
			    // -ms-transform:scale(1.1); /* IE 9 */
			    // -moz-transform:scale(1.1); /* Firefox */
			    // -webkit-transform:scale(1.1); /* Safari and Chrome */
			    // -o-transform:scale(1.1); /* Opera */


			}
		}

	}

	figure{
		width:100%;
		max-width:275px;
		overflow:hidden;
		margin:0 auto;
		position:relative;
		text-align:center;
		
		&:hover{
			.caption{
				bottom:0;
			}
		}
		img{
			@include size(275px, auto);
		}


	}

	.caption{
			background:#d8edec;		
			position:absolute;
			left:0;
			bottom:-200px;
			@include size(100%, auto);
			font-size:13px;
			color:#95a4a3;
			text-align:left;
			padding: 9px 11px;
			@include prefixed(transition, bottom 0.4s);
			strong{
				color:#0d0d0d;
				font-weight:600;
				font-size:17px;
			}

	}

	.status{
		position:absolute;
		left:0;
		top:0;
		font-weight:600;
		font-size:13px;
		@include inline-block();
		color:white;
		background:#ed145b;
		padding:8px 10px;
		text-transform:uppercase;

		&.green{
			background:$green;
		}
		&.mgenta{
			background:#1cbbb4;
		}
	}
}

/** RIBBON ITEM
===================================*/
.item-ribbon{
	@include inline-block();
	vertical-align: top;
	padding: 0 15px;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;

	@media screen and (min-width: 38em){
		width: 48%;
	}
	@media screen and (min-width: 62em){
		width: 32%;
		text-align: left;
	}
	@media screen and (min-width: 75em){
		width: 24%;
	}
	.subitem-ribbon{
		position: relative;
		overflow: hidden;
		@include inline-block();
		vertical-align: top;
	}

	 &:hover{
	 	.caption-hover{
    		top: 0;
    	}
    }


	.caption-hover{
		transition: all 350ms cubic-bezier(0.07, 0.32, 0.99, 1.01);
		-moz-transition: all 350ms cubic-bezier(0.07, 0.32, 0.99, 1.01);
		-webkit-transition: all 350ms cubic-bezier(0.07, 0.32, 0.99, 1.01);
	    display: block;
	    position: absolute;
	    z-index: 1;
	    top: 100%;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(193, 223, 211, 0.85);
	    text-align: center;
	    &:before {
		    content: '';
		    display: inline-block;
		    height: 100%;
		    vertical-align: middle;
		    margin-right: -0.25em;
		}
	}

	.subcaption {
	    overflow: hidden;
	    width: 90%;
	    color: black;
	    text-align: center;
	    display: inline-block;
	    vertical-align: middle;

	    .big-info {
		    font-size: 20px;
		    font-weight: bold;
		    line-height: 1.2em;
		    margin-bottom: 7px;
		   	color: #636466;
		   	display: block;
		}

		.sm-info {
		    margin-top: 0;
		    margin-bottom: 0px;
		    font-size: 18px;
		    text-transform: capitalize;
		    color: #666666;
    		display: block;
		}
	}

	.option {
	    position: absolute;
	    overflow: hidden;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 98%;
	    margin: auto;
	    z-index: 200;
	    background: #B9DACD;
	    background: rgba(185, 218, 205, 0.9);

	    &.full li {
		    width: 100%;
		    float: none;
		    border: none;
		}
		span {
		    position: relative;
		    transition: all 350ms ease-out;
		    -moz-transition: all 350ms ease-out;
		    -webkit-transition: all 350ms ease-out;
		    background: transparent;
		    padding: 15px 0 13px 0;
		    font-size: 13px;
		    text-transform: uppercase;
		    color: #ffffff;
		    margin-right: -4px;
		    display: block;
		    font-weight: 700;
		    width: 100%;
		    text-align: center;
		    color: white;
		}
	}
}

.thumb-ribbon{
	position: relative;
    height: 0;
    width: 270px;
    overflow: hidden;
    background-color: transparent;
    margin: 0 auto;
    padding-bottom: 95.5%;
  
    img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		 padding: 3px 3px 0 3px;
    }
}

.link-learnabout{
	text-align:center;
	a{
		color:$blue;
		font-weight:600;
		font-size:16px;
		letter-spacing:0.2em;
		@include prefixed(transition, color 0.3s linear);
		text-transform:uppercase;
		&:hover{
			color:$green;
		}
	}
}

.newslet_space{
	border-top:1px solid #dfdfdf;
	padding-top:40px;
	margin-top: 50px;
	overflow:hidden;
}

.featured_prod{
	@include make-sm-column(6);
	font-size:21px;
	overflow:hidden;

	figure{
		width:35%;
		max-width:188px;
		float:left;
		margin-right:25px;
		position: relative;
		padding: 3px 0 0 3px;
		overflow: hidden;
	}
	p{
		overflow:hidden;

		a{
			color:$font-color;
			@include prefixed(transition, all .3s linear);
			&:hover{
				text-decoration:none;
				strong{
					color:#39b54a;
				}
			}
		}
		strong{
			display:block;
			font-weight:600;
			margin-bottom:5px;
			color:darken($font-color, 20%);
		}
		span{
			font-size:14px;
			color:#929292;
		}
	}
}

.newslet{
	@include make-sm-column(6);
	font-size:20px;
}

.f-newsletter{
	margin-top:20px;
	.form-control{
		background:#f3f3f3;
		border:1px solid #dfdfdf;
		@include border-radius(0);
		color:darken($font-color, 20%);
		@include inline-block();
		height:49px;
		font-size:20px;

		&.halfWidth{
			width: auto;
		}

		&:focus{
			@include box-shadow(none);
			border-color:lighten(#dfdfdf, 10%);
		}
	}
	ul.gform_fields{
		li{
			display: block;
			margin: 10px 0;
		}

		.checkbox_label{
			margin: 1.1em 0 1.1em;
			font-weight: 700;
			display: block;
			line-height: 1.3;
			clear: both;
		}

		.checkbox{
			input[type="checkbox"]{
				margin-left: 0;
				margin-right: 10px;
			}
		}
	}
	.btn-edgewater{
		margin: 0.8em 0 0.8em;
	}
}

/** FILTER PRODUCT
===================================*/
.filter-wrapper{
	margin: 30px 0;
    .filter-bg{
		background: #f1f1f1;
		border: 1px solid #bebebe;
		padding: 15px;

    }
    span {
	    font-weight: bold;
	    font-size: 18px;
	    display: block;
	    margin-bottom: 5px;
	    text-align: center;
	}

	.form-group {
    	margin: 5px;
    	.form-control {
			font-size: 16px;
			margin: 20px 0 0 0;
			height: 40px;
		}
	}
}

