.custom-label {
  display: inline-block;
  margin-right: .8em;
  cursor: pointer;
}
.custom-radio{
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -.15em; /* Adjust to for best fit */
    margin: 0 .4em;
    width: 20px;
    height: 20px;
    //background: url(customRadioCheck.png) 0 0 no-repeat;
}
.custom-radio { 
    background-position: 0 -20px; 
    &.focus { background-position: -20px -20px; }
    &.checked { 
        background-position: -40px -20px; 
        &.focus { background-position: -60px -20px; }
    }
}

.custom-check {
    background:image-url('cx-box.png') left top no-repeat;
    @include square(38px);
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -.15em; /* Adjust to for best fit */
    margin: 0 .6em;
    margin-left:0;
}

.custom-check{
    &.focus { background-position: left top; }
    &.checked { 
      background-position: right top;
      &.focus { background-position: right top; }
    }
}

