/*==========================================================================
  NAVIGATION
========================================================================== */

#navigation
{
	@include make-md-column(6);
	@media screen and (max-width: 62em){
		text-align: center;
	}
	@media screen and (min-width: 62em) and (max-width: 75em){
		    width: 75%;
	}
	ul{
		list-style:none;
		position:relative;
		margin:0;
		padding:0;
		@include inline-block();
		a{
			@include inline-block();
			text-decoration:none;
			font-size: 18px;
			line-height:1.4em;
			padding: 5px 0;
			font-weight: 700;
			color:#4f4e4c;
			@include prefixed(transition, all 0.3s ease-out);
			border-bottom:2px solid transparent;

			&:hover{
				color:black;
				border-bottom:2px solid black;
			}
		}

		li{
			position:relative;
			@include inline-block();
			margin:0;
			padding: 10px;
			padding-bottom:18px;

			&:hover{
				> ul{
					@include opacity(1);
					visibility: visible;
				}
			}

			&.current{
				a{
					color:black;
					border-bottom:2px solid black;	
				}
			}
		}

	   //DROPDOWN
		ul{
			position:absolute;
			@include opacity(0);
			visibility: hidden;
			top:100%;
			left:10px;
			padding:0;
			background:white;
			border:1px solid #dfdfdf;
			@include border-radius(5px);
			@include prefixed(transition, all .3s ease .15s);


			li{
				float:none;
				padding:0;
				width:200px;
			}

			a{
				padding:10px 15px;
				display:block;
				border-bottom:none !important;
				font-size:17px;
			
				&:hover{
					border-bottom:none  !important;
					background:$green;
					color:white;
				}
			}

			 ul{
				top:0;
				left:100%;
			}

			&.mega-sub-menu{
				@include min-width(515px);
				text-align:center;
				padding-top:25px;
				@include border-radius(5px);
				left:-100%;
				top:60px;
				/* ======== ARROW ======== */
				  &:after {
				    content: '';
				    position: absolute;
				    left:31%;
				    top: -10px;
				    @include size(15px, 10px);
				    background:image-url('arr_shape.png') 0 0 no-repeat;
				  }
				li{
					display:block;
					width:auto;
				}

				.mega-galeries{
					padding:0 15px 20px 15px;	
				}

				.item-mega-galery{
					@include inline-block();
					margin:0 7px;
					margin-bottom:18px;
					figure{
						@include size(67px, 70px);
						@include border-radius(50%);
						margin:0 auto;
						overflow:hidden;
						border:1px solid #e2e2e2;
					}

					.caption{
						font-weight:600;
						font-size:15px;
					}

					a{
						padding:0;
						&:hover{
							background:none;
							color:#4f4e4c;
							@include opacity(0.7);
						}
					}

					.pallete{
						display: block;
						@include size(58px, 59px);
						@include border-radius(50%);
						margin:0 auto 5px auto ;
						overflow:hidden;
					}
				}	
			}


			a.btn-megabrowse{
				display:block;
				text-transform:uppercase;
				font-weight:700;
				font-size:15px;
				padding:14px 0;
				border-top:1px solid #e5e5e5;

			}
		}

	}

	#pull{
		display:none;
	}
}

.slicknav_menu {
	display:none;
}

@media screen and (max-width:$screen-sm - 1) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}

@import "slicknav";