/*==========================================================================
  PRODUCT
========================================================================== */

#intro-product{
	margin-bottom:35px;
}
/* ======== BX ADDITIONAL STYLE ======== */
.round-pager{
	text-align:center;
	a{
		@include inline-block();
		@include square(156px);
		overflow:hidden;
		margin:0 10px;
		@include prefixed(transition, .3s ease-out);
		@include opacity(0.7);
		@include border-radius(50%);
		border:1px solid transparent;

		&:hover, &.active{
			@include opacity(1);
			border:1px solid #d9d9d9;
		}
	}
}

.bx-wrapper {
	margin-bottom:40px;
	text-align:center;

	.bx-viewport{
		border:none;
		@include box-shadow(none);
		max-width:1360px;
		margin:0 auto;
		left:0;
	}
}

.typedesc{
	background:#687b87;
	padding:70px 0;
	color:white;
	clear:both;
	margin-bottom:40px;

	&:before, &:after {
	  content: " ";
	  display: table;
	}

	&:after {
	  clear: both;
	}

	.lt{
		@include make-sm-column(5);
		position:relative;
		padding-top:30px;
		padding-bottom:30px;
		z-index:1;

		&:before{
			content:'';
			position:absolute;
			left:0;
			top:0;
			width: 150%;
			height: 100%;
			background: #4f595f;
			z-index: -1;
			left: -333px;
		}

		p{
			margin-bottom:0;
		}
		strong{
			font-weight:600;

		}
	}	
	.rt{
		@include make-sm-column(7);
	}
}

.qty-desired{
	overflow:hidden;
	@include make-sm-column(8);

	strong{
		display:block;
		font-weight:700;
		color:darken($font-color, 10%);
		margin-bottom:15px;
	}

	figure{
		width:41%;
		max-width:360px;
		overflow:hidden;
		float:left;
		margin-right:40px;
	}

	.selection{
		overflow:hidden;

		form {
			input[type="checkbox"]{
					margin-top: 8px;
					vertical-align: top;
					margin-right: 5px;
			}
		}
	}

	.custom-label{
		margin-bottom:19px;
	}
	label{
		font-weight:normal;
	}

}

.box-cart{
	overflow:hidden;
	background:#f2f2f2;
	border:1px solid #dfdfdf;
	font-size:17px;
	padding:20px;
    margin-bottom: 30px;

	&.break-tb{
		@media (max-width: 992px){
			float:none;
			margin:0 auto 25px auto;
		}
	}

	hr{
		border-top:1px solid #d9d9d9;
	}

	.btn-recart{
		color:$font-color;
		display:block;
		padding:0 20px;
		&:hover{
			color:#0072bc;
			text-decoration:none;
		}
	}
}

.qtyBox{
	.form-control{
		width:27%;
		text-align:center;
		@include inline-block();
		@include border-radius(0);
		border:1px solid #c6c6c6;
	}	
	label{
		margin-right:20px;
	}
}

.form-cart{
	.item{
		padding: 20px 0;
    	border-bottom: 1px solid #dfdfdf;
    	@include clearfix();

    	&.item-qty{
			.label-item {
	    		float: left;
	    	}
		}

		&.nobord{
			border-bottom: 0;
			padding-bottom: 0;
		}
    }
	.label-item {
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 6px;
		margin-top: .5em;
		@include inline-block();
		@media screen and (min-width: 48em){
			display: block;
		}
	}

	.group-combo {
		@include inline-block();
		@media screen and (min-width: 48em){
			 width: 100%;
	    	 display: block;
		}
	}

	.group-qty{
		overflow: hidden;
		margin-left: 15px;
		@media screen and (min-width: 48em){
			float: right;
			margin-left: 5px;
		}
	}
}

.group-qty{
	.group-btn{
		@include inline-block();
	}
	input {
	    max-width: 48px;
	    text-align: center;
	    font-size: 16px;
	    padding: .5em 1em;
	    display: inline-block;
	}
	button {
	    -webkit-appearance: none;
	    border: 1px solid #a6a6a6;
	    background: transparent;
	    color: #a6a6a6;
	    height: 26px;
	    width: 26px;
	    line-height: 16px;
	    text-align: center;
	    border-radius: 100%;
	    -moz-border-radius: 100%;
	    -webkit-border-radius: 100%;
	    display: block;
	    font-size: 24px;
	    transition: all 350ms ease;
	    -moz-transition: all 350ms ease;
	    -webkit-transition: all 350ms ease;
	}
}

.selectdd{
		label {
	    	position: relative;
	    	display: inline-block;
		}

		select {
		    outline: none;
		    width: 220px;
		    height: 38px;
		    font-size: 16px;
		    padding: .5em 2em .5em .5em;
		    background: white;
		    color: #a6a6a6;
		    border: 1px solid #D2D2D2;
		    display: block;
		    text-decoration: none;
		    overflow: hidden;
		    text-transform: capitalize;
		    border-radius: 0;
		    -webkit-appearance: none;
		} 	
		.notIE label:after{
			content: '';
			width: 42px;
			height: 38px;
			position: absolute;
			display: inline-block;
			top: 0px;
			right: 1px;
			background: url('../img/arrow_slc.png') no-repeat right center white;
			background-size: 42px auto;
			-moz-background-size: 42px auto;
			-webkit-background-size: 42px auto;
			pointer-events: none;
		}
}



/*==========================================================================
  PRODUCT DETAIL
========================================================================== */

.prod-detail{
		@include make-sm-column(8);
		@include make-md-column(9);

		figure{
			width:37%;
			max-width:310px;
			text-align:center;
			margin: 0 auto 25px;
			@media screen and (min-width: 62em){
				float:left;
				margin: 0;
				margin-right:38px;
			}
		}

		.desc{
			overflow:hidden;
		}

		header{
			margin-bottom:35px;

			strong{
				font-weight:600;
			}
		}
}