/*==========================================================================
  WIDTH PAGE
========================================================================== */
.width-galery{
	@include make-row();
	.item{
		@include make-sm-column(3);
		@include make-md-column(2);
		text-align:center;
		margin-bottom:30px;
		cursor:pointer;
	}

	.circle{
		@include border-radius(50%);
		@include square(168px);
		margin-left:auto;
		margin-right:auto;
		display:table-cell;
		vertical-align:middle;
		overflow:hidden;
		font: 400 50px 'Josefin Slab', serif;
		border:1px solid #d3d3d3;
		text-align:center;
		@include prefixed(transition, all .3s ease-out);
		
		&:hover{
			background:rgba(#f1f1f1, 0.8);
		}

		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 51%, #f9f9f9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(51%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 51%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 51%,#f9f9f9 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 51%,#f9f9f9 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 51%,#f9f9f9 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
	}

	a{
		color:$font-color;
		&:hover{
			text-decoration:none;
			color:$font-color;
		}
	}
}

